*{
    margin: 0;
    padding: 0;
}

.header{
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:skyblue;
}
.logo img{
    height: 70px;
    width: auto;
    margin-top: 15px;
    margin-left: 25px;
}

.nav{
    display: flex;

    gap: 35px;
    margin-right: 50px;
    list-style: none;
    font: bold;
    font-size: 20px;
   
}

.nav a{
    text-decoration: none;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width:auto;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.information{
  height: 200%;
  background-color: lightblue;
}
.focus{
  color: black;
  font-size: 20px;
  padding-left: 250px;
  padding-top: 20px;
  padding-right: 250px;
  font: Serif;
  font-weight: bold;
  padding-bottom: 15px;
}

.Portfolio{
  width: 100%;
  height: 1400px;
  display: inline-block;
  position: relative;
  color: #111;
  fill: #111;
}

.pwork{
  text-align: center;
  margin-top: 50px;

}



.section{
  display: flex;
  gap: 35px;
  justify-content: center;
  padding-top: 25px;
}

.blogtwo{
 margin-left: 250px;

}
.p1{
  height: 600px;
  width: auto;
}
.p2{
  height: 600px;

  justify-content: center;
  
}

.section2{
  display: flex;
  gap: 35px;
  justify-content: center;
  padding-top: 25px;
  margin-bottom: 35px;
}


.fsection{
 
  height: 200px;
  width: 100%;
}

.footer-basic {
  padding:40px 0;
  background-color: skyblue;
  color:#4b4c4d;
  
  
  bottom: 0;
  width: 100%;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

/* .footer-basic .social > a:hover {
  opacity:0.9;
} */

.footer-basic {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;

}


.list-inline{
  display: flex;
  justify-content: center;
  color: #111;
}

.copyright{
  color: black;
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}


.footer-basic-book {

  position: fixed;
  bottom: 0;
  width: 100%; 
  height: 7.5rem; 
}

.copyrightbook{
  margin-bottom: 20px;
}

.packagechoose{
  height: 800px;
  background-color: #915aec
  ;
  margin-left: 65px;
  margin-right: 65px;
  
}

.headline{
  text-align: center;
  padding-top: 20px;
}

.sgd{
  display: flex;
  margin-top: 25px;
  gap: 300px;
  justify-content: center;
}

.hw{
  text-align: center;
  height: 580px;
  width: 300px;
  background-color: white;
  border-radius: 5px;
  
}

.marginn{
  margin-top: 5px;
  padding-top: 20px;
}

ol li {
 
    margin: 30px 0;
 
}

.phone{
  text-align: center;
  margin-top: 25px;
}

.footer-basicc{
  margin-bottom: 0;
}

.tt{
  position: fixed;
}

.Contactform{
  text-align: center;
}

.story{
  width: 100%;
  height: 350px;
  background-color: blue;
}

.h1{
  text-align: center;
  padding-top: 25px;
  color: white;
}

.storyy{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  line-height: 1.6;
  color: white;
}

.blogone{
  padding-top: 250px;
  padding-left: 10px;
  font-weight: bold;
}

.framephoto{
  margin-top: 25px;
  width: 100%;
  height: 130x;
  background-color: red;
}

.p24:hover{
  opacity: 0.5;
  

}
